<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="main w-full p-10 min-h-screen bg-zinc-900 relative">
      <div class="header w-full p-10 bg-zinc-700 rounded-lg flex items-center justify-between">
        <h2 class="header text-white text-xl"><%= heading.split('_').join(' ').split('.txt').join('') %></h2>
        <a class="inline-block text-blue-500" href="/">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
          </svg>
          
        </a>
      </div>
      <div class="header relative w-full mt-5 p-10 bg-zinc-700 rounded-lg flex items-center justify-between">
        <pre class="header text-white text-xl"><%= data %></pre>
        <a href="/edit/<%= heading %>" class="inline-block absolute right-0 bottom-0 text-blue-500 p-10 text-xl">Edit Note</a>
      </div>



    </div>
    <script src="/javascripts/script.js"></script>
</body>

</html>